[virtual_sdcard]
  forced_leveling: false

[heater_bed]
  max_temp: 160

[heater_fan chamber_fan]
  is_ptc_fan: 0
  fan_speed: 1.0
  heater_temp: 50

[verify_heater heater_bed]
  # max_error: 600
  # check_gain_time: 600
  # heating_gain: 2.0
  # hysteresis: 20

[verify_heater chamber_heater] 
  max_error: 120
  hysteresis: 20

[stepper_z]
  microsteps: 256
  rotation_distance:128

[stepper_z1]
  microsteps: 256
  rotation_distance:128

[motor_control]
  # x_controller_pos_loop_pid_param_kp: 100
  # y_controller_pos_loop_pid_param_kp: 300

[box]
  pre_cut_pos_y: 345
  cut_pos_y: 345

[z_tilt]
  retry_tolerance: 0.05

[z_thermal_adjust]
  temp_coeff: -0.0105
  smooth_time: 5
  # z_adjust_off_above:
  # max_z_adjustment:
  sensor_type:NTC 100K MGB18-104F39050L32 
  sensor_pin:PC5
  min_temp:30
  max_temp:90

[prtouch_v3]
  z_offset: 0
  speed: 5
  samples: 2
  samples_result: average
  samples_tolerance_retries: 5
  samples_tolerance: 0.03

  step_swap_pin: !PC7
  pres_swap_pin: nozzle_mcu:PA15

  prth_msg_show: False
  #prth_dbg_ippt: 172.23.211.214

  enable_not_linear_comp:True
  temp_non_linaer_a = 0.00001300
  temp_non_linaer_b = -0.0006500
  temp_non_linaer_c = 0.080000
  pres_cs0_pin: nozzle_mcu:PB13, nozzle_mcu:PB14
  pres_tri_hold:4000, 10000, 500
  prth_tmp_comp: 26,300,0,0.0  #26,300,0,0.11 E方案削薄
  pres_cfg_regs:60 #60（1280/128）44（640/128）
  prth_min_fans:0.5 # 0.1~ 1.0由于调平时保证精度，要关闭或减小风扇转速
  prth_gas_calr:0.01 # 高斯滤波标准差的开方，0.001 ~ 10，值越小，网床平滑滤波程序越弱,注释为关闭
  prth_max_chps:8
  # regional_prtouch_percentage:0.8
  # bed_mesh_fall_comp_diagonal: -0.1, -0.025, -0.015, -0.01, -0.00
  # bed_mesh_fall_comp_axis:-0.1, -0.025, -0.015, -1, 1, -1, -0.015, -0.025, -0.1
  # bed_mesh_add_comp: 0.035, 0.020, 0
  horizontal_move_z_quick: 1 # mm 探测时的抬升高度
  regional_prtouch_switch: False # 区域调平开关，默认True开启
  regional_prtouch_percentage:0.8 

# [axis_twist_compensation]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
# calibrate_start_x: 5
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
# calibrate_end_x: 345
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
# calibrate_y: 175
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
# calibrate_start_y: 5
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
# calibrate_end_y: 345
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
# calibrate_x: 175
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.

[bed_mesh]
  speed: 300
	# relative_reference_index: 42
	probe_count:7,7

[homing_override]
axes: xyz
# set_position_x: 0
# set_position_y: 0
# set_position_z:0
gcode:
  MOTOR_STALL_MODE DATA=1
  M204 S500
  # SET_TMC_FIELD STEPPER=stepper_x FIELD=en_spreadcycle VALUE=0
  # SET_TMC_FIELD STEPPER=stepper_y FIELD=en_spreadcycle VALUE=0
  # BED_MESH_CLEAR
  {% set x_axes = printer.toolhead.homed_axes %}
  {% if x_axes is defined and x_axes[0] is defined %}
    {action_respond_info(
        "x_axes: %s \n"
        % (x_axes))}
  {% else %}
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=x_ready VALUE=0
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=0
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=0
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=xy_moved VALUE=0
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_moved VALUE=0
    {action_respond_info(
        "x_axes is NULL\n")}
  {% endif %}

  {% if x_axes is not defined or x_axes[2] is not defined %}
    BED_MESH_CLEAR
  {% endif %}

  # {% if x_axes is defined and x_axes[0] is defined and x_axes[1] is defined %}
  #   {action_respond_info("x_axes: %s \n"% (x_axes))}
  #   {% set position_y = printer.toolhead.position.y|int %}
  #   {% set max_y_position = printer["gcode_macro PRINTER_PARAM"].max_y_position|int %}
  #   # {% if position_y >= max_y_position %}
  #   #   G91
  #   #   G0 Y-10 F3600
  #   #   G90
  #   # {% endif %}
  # {% endif %}

  {% set home_all = 'X' not in params and 'Y' not in params %}
  {% if 'Z' in params and 'X' not in params and 'Y' not in params %}
    {% if x_axes[0] is defined and x_axes[1] is defined %}
      {% set home_all = 0 %}
    {% endif %}
  {% endif %}  

  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}

  {% if home_all or 'X' in params %}
      _HOME_X
  {% endif %}

  {% if home_all %}
    FORCE_MOVE STEPPER=stepper_y DISTANCE=-3 VELOCITY=10
  {% endif %}

  {% if 'X' in params and 'Y' in params %}
    FORCE_MOVE STEPPER=stepper_y DISTANCE=-3 VELOCITY=10
  {% endif %}

  {% if 'X' in params and x_axes is defined and x_axes[0] is defined and x_axes[1] is not defined and x_axes[0] == 'y' %}
    FORCE_MOVE STEPPER=stepper_y DISTANCE=-3 VELOCITY=10
  {% endif %}

  {% if 'Y' in params and x_axes is defined and x_axes[0] is defined and x_axes[1] is not defined and x_axes[0] == 'x'%}
    FORCE_MOVE STEPPER=stepper_y DISTANCE=-3 VELOCITY=10
  {% endif %}

  {% if home_all or 'Z' in params %}
    # {% if x_axes[2] is not defined %}
    #   BOX_GO_TO_EXTRUDE_POS
    #   PRES_CHECK RUN=1
    #   BOX_NOZZLE_CLEAN
    #   PRES_CHECK RUN=0
    # {% endif %}
    SET_PIN PIN=extruder_fan VALUE=0
    _HOME_Z
  {% endif %}
  # BED_MESH_PROFILE LOAD="default"
  MOTOR_STALL_MODE DATA=2
  MOTOR_CHECK_PROTECTION_AFTER_HOME DATA=11
  # {% set acc = printer.toolhead.max_accel %}
  M204 S10000
  # SET_TMC_FIELD STEPPER=stepper_x FIELD=en_spreadcycle VALUE=1
  # SET_TMC_FIELD STEPPER=stepper_y FIELD=en_spreadcycle VALUE=1
  # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=0
  # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=0
  # G4 P500
